body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #d3d3d3;
}

#kitchen {
    background: url('./background.jpg') no-repeat center center;
    background-size: contain;
    width: 73.4%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: -1rem;
    margin-bottom: -2rem;
    position: relative;
    z-index: 1;
}

canvas {
    height: 30%;
    width: 80%;
}

#logo {
    margin-top: 20px;
    width: 20%;
    position: relative;
    z-index: 1;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.popup button {
    border-radius: 10px;
    background-color: lightseagreen;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.popup button:hover {
    background-color: darkcyan;
}


