body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* To stack items vertically */
    height: 100vh;
    background-color: #d3d3d3;
}

#kitchen {
    background: url('./background.jpg') no-repeat center center;
    background-size: contain;
    width: 73.4%;
    height: 80%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: -1rem;
    margin-bottom: -2rem;
    position: relative; /* Add relative position */
    z-index: 1; /* Ensure canvas is displayed above other elements */
}

canvas {
    height: 30%;
    width: 80%;
}

#logo {
    margin-top: 20px;
    width: 20%;
    position: relative; /* Add relative position */
    z-index: 1; /* Ensure logo is displayed above other elements */
}

#welcomePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
